################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/KBSHPSharp/bin/Debug/netstandard2.0
/KBSHPSharp/obj/Debug/netstandard2.0
/KBSHPSharp/obj/Release/netstandard2.0
/KBSHPSharp/obj
/nvKBShapeTest/bin/Debug
/nvKBShapeTest/obj/Debug
/maptools - 복사본.cs
